<!DOCTYPE html>
<html>
  <head>
    <title>Test</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

  </head>
  <body>
    <h1>Test</h1>
    <p>Test</p>
    <ul>
        <% mascots.forEach(function(mascot) { %>
          <li>
            <strong><%= mascot.name %></strong>
            representing <%= mascot.organization %>,
            born <%= mascot.birth_year %>
          </li>
        <% }); %>
    <% if (locals.text) { %>
      <p>Variable test = <%= text %></p>
    <% } else { %>
        <p>Variable test is undefined</p>
    <% } %>

   <!-- Let's print all user of the db -->
   <ul> 
    <% users.forEach(function(user) { %>
      <li>
        <strong><%= user.name %></strong>
        psid: <%= user.id_user %>,
        <% if (!user.filliere) { %>
          filliere: None,
        <% } else { %>
        filliere: <%= user.filliere %>,
        <% } %>
        promo: <%= user.promo %>,
        groupe: <%= user.groupe %>
        <% if (!user.majeur) { %>
          filliere: None,
        <% } else { %>
        filliere: <%= user.majeur %>,
        <% } %>
      </li>
    <% }); %>
    </ul>

    <div>
  
      <% labels.forEach(function(label) { %>
        <canvas id="<%= label %>" style="width:100%;max-width:600px"></canvas>
        <script>
          var barColors = ["#b91d47","#00aba9"];
          new Chart("<%= label %>", {
            type: "pie",
            data: {
              labels: <%- JSON.stringify(xlabels[label]) %> ,
              datasets: [{
                backgroundColor: barColors,
                data: <%- JSON.stringify(ylabels[label]) %>
              }]
            },
            options: {
              title: {
                display: true,
                text: "Graph TEST"
              }
            }
          });
     

          </script>
          <% }); %>
  </div>
  </body>