<head>
    <link rel="stylesheet/less" type="text/css" href="../css/planning.less" />
</head>

<% if (locals.payload){ %>
    <h2>Mon planning de <%= payload %></h2>
<% } else { %>
<h2>Mon Planning</h2>
<% } %>

<br>

<div class="button-container-select">
    <form action="/planning" method="post">
      <button type="submit" name="payload" class="select-button" value="LUNDI">LUNDI</button>
      <button type="submit" name="payload" class="select-button" value="MARDI">MARDI</button>
      <button type="submit" name="payload" class="select-button" value="MERCREDI">MERCREDI</button>
      <button type="submit" name="payload" class="select-button" value="JEUDI">JEUDI</button>
      <button type="submit" name="payload" class="select-button" value="VENDREDI">VENDREDI</button>
      <button type="submit" name="payload" class="select-button" value="TOUT">TOUT</button>
    </form>
</div>
  

<!-- Timetable -->
 <% if (locals.timetable) { %>
    <table class="timetable">
        <tr>
            <th>Matin</th>
            <th>Après-midi</th>
        </tr>
        <tr>
            <td><pre><%= timetable[0].replace(/,/g, '') %></pre></td>
            <td><pre><%= timetable[1].replace(/,/g, '') %></pre></td>
        </tr>
    </table>
<% } %>

<!-- Image timetable (TOUT) -->
<% if (locals.timetableImage) { %>
    <img class="timetable-image" src=<%= timetableImage %> alt="timetable">
<% } %>

 <script src="https://cdn.jsdelivr.net/npm/less" ></script>
 <script src="../js/planning.js"></script>
 <% if (locals.payload){ %>
    <script type="text/javascript">
        let btn = document.querySelectorAll(".select-button");
    let payload = "<%= payload %>";
    for (var i = 0; i < btn.length; i++) {
        if(btn[i].value == payload){
            // change color of button
            btn[i].style.color = "#bd1050";
            btn[i].style.borderBottom = "2px solid #bd1050";
        }
    }
    </script>
<% } %>